.active {
  background: var(--accent);
  border-color: var(--accent) !important;
  color: black !important;
  font-weight: 700 !important;
}

.pagination {
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__item:not(:last-child) {
  margin-right: 15px;
}

.pagination--active {
  font-weight: 500;
  background-color: #ddd889 !important;
}